@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-start justify-center;
  }
}

@layer components {
  .tab-icon {
    @apply flex min-w-20 items-center justify-center min-h-full gap-1 mt-12;
  }
}
